<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Hash</title>
</head>
    <form action="/hashPass" method="POST">
        <input type="password" name="password" placeholder="Enter your password" id="password">
        <input type="submit" value="Generate A Hash">
    </form>
</body>
</html>